@import "_defaults";

.circlebtn {
	padding: 10px;
    font-size: 15px;
    border-radius: 50%;
	cursor: pointer;
	display: inline-flex;
}

button:focus {border:none;box-shadow: none;outline:none;}

.createNew, .remove,.archive,.edit,.myFavorites,.save,.upload,.send,.copy,.smallSend,a.createNew, a.remove,a.archive,a.edit,a.myFavorites,a.save,a.upload,a.send,a.copy,a.smallSend{
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF !important;
    font-size: 14px !important;
    border-radius: 50%;
    text-decoration: none;
    width: 36px;
    height: 36px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(113,176,255,0.5) !important;
    -moz-box-shadow: 0px 0px 11px 0px rgba(113,176,255,0.5) !important;
    box-shadow: 0px 0px 11px 0px rgba(113,176,255,0.5) !important;
    -o-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -moz-transition:  all 0s ease;
    -webkit-transition:  all 0s ease;
    transition:  all 0s ease;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
	margin-left: 10px;
}

a.createNew, a.remove,a.archive,a.edit,a.myFavorites,a.save,a.upload,a.send,a.copy,a.smallSend{
padding-top:11px;
}



.smallIcon, a.smallIcon {
	
	cursor:pointer;
	font-size: 20px;
    display: inline-block;
	margin-left:20px;
	transition:all 0.3s ease;
}
.smallIcon:hover, a.smallIcon:hover {
	color:#4801FF !important;
}
.smallIcon:last-child, a.smallIcon:last-child {
	
}

.greenbtn:not(.failed) {
	background:#0DC400 !important;
}
.greybtn:not(.failed) {
	background: #636363 !important;
}

#createNewProject-btn, #load-btn,#delete-btn,#update-btn,#updateInfoProject-btn,#edit-btn,#addNewtask-btn, #save-btn {color:#ffffff !important;}


.clearbtn{
    background-color: $status_new !important;
    border:none;
	display: inline-block;
    cursor: pointer;
    color: #FFFFFF !important;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    min-width: 200px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(210,0,0,0.5) !important;
-moz-box-shadow: 0px 0px 11px 0px rgba(210,0,0,0.5) !important;
box-shadow: 0px 0px 11px 0px rgba(210,0,0,0.5) !important;
}




.growGreen {
	background-image: linear-gradient(to right, #5fca00 0%, #78ff00 100%);
	    background-position: 100% 0;
    background-size: 201% 100%;
    transition: all .25s ease-in;
}

.sending {
	background-position: 0 0;
}


.copy,.upload,.send,.edit {
	background-color: $primaryColor;
}

.remove {
	background:$status_new;
}

.archive {
	background:#757575 !important;
	}

.save {
    background-color: $status_complete;
}

.createNewExpanded {border-radius: 25px !important; width:200px !important; height: auto !important;    padding-right: 4px;}
.createNewExpanded .fa {padding: 15px 3px 5px 1px;}
.btnExpand {
	    color: $primaryColor;
    background: #ffffff;
    border: 2px solid $primaryColor;
    border-radius: 0px 25px 25px 0px;
    display: none;
    float: right;
    height: 42px;
    margin-top: 1px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    width: 85%;
}

.smallSend {
	    height: 30px !important;
    width: 30px !important;
	float:right;
	background-color: $primaryColor;
	    margin-top: 11px;
}
.btnCorrect{
	    padding: 10px 12px !important;
    display: inline !important;
}


.createNew {
	background-color: $primaryColor;
}


.genericbtn{
	background-color: $primaryColor;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF !important;
    font-size: 14px;
	border-radius: 0px;
	height:36px;
   text-decoration: none;
   padding:8px 18px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(113,176,255,0.5);
    -moz-box-shadow: 0px 0px 11px 0px rgba(113,176,255,0.5);
    box-shadow: 0px 0px 11px 0px rgba(113,176,255,0.5);
    transition: all 0.3s ease;
}

.copyLink {
	text-align: center;
    border: 1px solid $primaryColor;
    margin: 0 auto;
    padding: 5px 10px;
	text-transform: uppercase;
	font-size:12px;
	color:$primaryColor;
	cursor: pointer;
	width: 111px;
	transition:all 0.5s ease;
}

.copyLink:hover {
	@include primaryGradientBG;
	color:#ffffff;
	
}

.editTaskHeader .copyLink {
	border: 1px solid #ffffff;
    color:#ffffff;
	margin-top: 16px;
}

.editTaskHeader .copyLink:hover {
	background:#ffffff;
	color:$primaryColor;
	
}


/* PILLS */

.nav>li>a{transition: all 0.3s ease;}

.nav-pills>li>a {
    border-radius: 0px !important;
}

.nav-pills .count {
	background: #ffffff;
    padding: 0px 6px;
    font-size: 13px;
    color: $primaryColor;
    margin: 0px -10px 0px 9px !important;
    border: 1px solid $primaryColor;
    height: 25px;
    border-radius: 0px;
    
}

.nav-pills li.active .count {
	background: #ffffff;
    padding: 0px 6px;
    font-size: 13px;
    color: $primaryColor;
    margin: 0px -10px 0px 9px !important;
    border: 1px solid $primaryColor;
    height: 25px;
    border-radius: 0px;
    
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    position: relative;
    display: block;
    padding: 0px 10px;color:#ffffff !important;
	background:$primaryColor !important;
	border-radius: 50px !important;
}
.nav-pills>li{
	padding: 0px 10px;
}
.nav-pills>li>a {
    position: relative;
    display: block;
   padding: 0px 10px !important;
}
.nav-pills>li {
	float:none !important;
	display:inline-block !important;
}

/* TABS */
.myTabs { 
padding:0px;
	margin:0 auto;
	
	.dot {
	float: right;
    display: none;
    position: absolute;
    right: 70px;
    top: 21px;
}
	
	li {
	list-style-type: none;
	width:49.59%;
	display:inline-block;
    text-align: center;
	border-bottom:2px solid #757575;
	    padding-bottom: 10px;
		
		a{
	color:#757575;
	font-weight:bold;
	text-transform: uppercase;
	
	}
	}
	li.active {
	border-bottom:2px solid $primaryColor;
		a {
			color:$primaryColor !important;
		}
	}
}




/* TAGS */

.filterTags,.KCTags,.userTags,.tags:first-child {margin-left:0px !important;}

.userTags,.KCTags,.filterTags,.tags {    display: inline-block;
    background: $mutedPrimaryColor;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
	margin:5px 10px;
	color: $primaryColor;
	cursor:pointer;
	transition:all 0.3s ease;
}

.selectTags,.userTags,#printPostTags .KCTags{
	cursor:pointer;
	transition: all 0.3s ease;
}

.filterTags .fa {
	cursor:pointer;
}

.tags .fa-plus-circle {
	margin-right:10px;
}

.userTags.selected,.tags.selected,.userTags:hover,.tags:hover {
	background: $primaryColor;
    color: #ffffff;
}


