@import "_defaults";

.x-template-tickets {
	
	#ticketInfo {
	border: 1px solid $superMutedBaseColor;
		
	#actions {
	padding-top: 8px;
	text-align: right !important;
	}
		
	.taskStatus {
	float:left;
	}
		
	#editTicket {
		display:none;
		
		input {
		border-bottom: 1px solid #ccc;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
	}	
	
	}
		
	#noTicketFound {
	font-style:italic;
	}
		
}

.ticket {
	margin: 0 auto;
    width: 400px;
    -webkit-box-shadow: 0px 22px 75px -10px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 22px 75px -10px rgba(0,0,0,0.48);
    box-shadow: 0px 22px 75px -10px rgba(0,0,0,0.48);
    background:#ffffff;
	color:$baseColor !important;
	
	h3 {border-bottom: 1px dashed;
    padding: 30px 0px 30px 0px;
    margin-top: 10px;}
	p {
	padding:0px 20px;
	color:#333;overflow-wrap: break-word;}
	.contactbox {
		font-size:12px;
		background:rgba(0, 0, 0, 0.4);
		 padding: 15px;
			margin-top: 20px;

			a {color:#ffffff !important; text-decoration: underline !important;} 
			p {
			font-size:12px;
			text-align: center;color:#ffffff;
			}
			#contactPP a {
				height: 30px;
				overflow: hidden;
				display: block;
				border-radius: 50%;
				margin-right: 10px;
			}
		
			#contactPP img,#contactTable img {
			border-radius: 0px !important;
			margin-right: 0px !important;

		}
		
	}




	
	
	
}

	
.individualTickets {
	border-bottom:1px solid #ffffff;
	padding:15px;
	cursor:pointer;
	transition: all 0.5s ease;
	text-align: left;
	
	.ticketStatus {
		text-transform: uppercase;
		font-weight:bold;
		padding: 3px 10px;
		border-radius: 50px;
		color: #fff;
		border: 1px solid #fff;
		font-size: 11px;
	}
	
	p { 
	color:#ffffff;
	margin:0px;
	font-size:13px;
	}
	h4 { 
		margin:0px;
		padding-bottom:10px;
	}
}
.individualTickets:hover {
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,.45);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,.45);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,.45);
	background-color:rgba(0,0,0,0.3);
}	
	
#requestCopy {    
	max-height: 450px;
    overflow: scroll;
    border: 1px solid #f1f1f1;
    padding: 10px;
    background: #fafafa;
overflow-y: auto;}
	

.ticketSide {
	overflow:scroll;
	padding:0px !important;
	overflow-y: auto;
	text-align: center
}


.results {display:none;
	
	.formLabels + p{
	margin-bottom: 20px;
	word-break: break-all;
}

h5 {
	text-transform: uppercase;
	font-weight: bold;
    color: #919191;
}
	
}
	
#searchTickets {    
	margin: 5px auto;
    width: 97%;
	text-align: left;
	
	
}
#searchTickets::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
	font-style: italic;
}
#searchTickets::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
	font-style: italic;
}
#searchTickets:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
	font-style: italic;
}
#searchTickets:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
	font-style: italic;
}
	

	

	
	
.ticketHeader {
	background: $baseColor;
    color: #ffffff !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding: 0px 15px;
	
	.smallIcon:hover {
	color:#ffffff !important;
}
	
	.smallIcon.grey {
	color:#ffffff !important;
	font-size: 18px !important;
}
	h5 {
	color:#ffffff !important;
}
	

	
	
}


.commentsContainer {
		.addNewTicketComment {
			padding: 5px 0px;
			
				.smallSend{
				margin-top:6px !important;
				}
			
				textarea {
			  	resize: none;
				border-radius: 5px;
				}
			
				#showCommentSend {
				display:none;
				}
			
				.row {
					margin-right:0px;
					margin-left:0px;
				}
		}
		
		.commentHeader {
			h3 {
				text-transform: uppercase;
				font-weight: bold;
				font-size:14px;
			}
		}
		
	}




#filters  {
	margin: 0 auto 10px;
	text-align: center;
	
	.showFilters {
	text-decoration: underline;
    background: $baseColor;
    padding: 8px;
    font-weight: 700;
	cursor: pointer;
}
	
	
	.filterBlock {
    display: none;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.5);
    padding: 3px;
    width: 96%;
    color: #4801FF;
    font-weight: bold;
    cursor: pointer;
    margin: 5px auto;
	}
	.filterBlock.active {
	background: rgba(255, 255, 255, 1) !important;
	}
}

	
.overview{
	display:none;
	transition:all 0.3s ease;
	
	h1 {
	    width: 400px;
		margin: 0 auto;
		transition:all 0.3s ease;
	}
}


.overviewSlid {
	@include primaryGradientBG;
    padding: 15px;
	margin-bottom:25px;
	
	h1{
			font-size: 18px;
			display:none;
		}
	.row{
	   margin-top: -50px;
		
		
		
		.col-sm-4 h3{
			font-size: 16px;
			margin-top: 10px;

		}
	}
	
	.requestsIcon {
    text-align: center;
    border-radius: 150px;
    border: 3px solid #ffffff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
	
	h3 {
        font-size: 20px;
		font-weight: bold;
		margin-top: 13px !important;
	}
}
	
	
}


.requestsIcon {
	transition:all 0.3s ease;
	text-align: center;
	border-radius:150px;
	border-top:3px solid $secondaryColor;
border-right:3px solid $thirdColor;
border-bottom:3px solid $primaryColor;
border-left:3px solid $thirdColor;
	    width: 150px;
    height: 150px;
    margin: 0 auto;
	
	h2, h3 {
	text-align: center;
	transition:all 0.3s ease;
	}
	
	h2 {
		font-size:16px;
	}
	h3 {
		font-size:45px;
		font-weight:bold;
			margin-top: 43px;
	}
}

.requestsIcon:before {
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  @include primaryGradientBG;
  z-index: -2;
}
.requestsIcon:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $mutedPrimaryColor;
  z-index: -1;
}
	
	
	
#contactTable {
		
		img {
	    width: 30px;
			border-radius: 50%;
			margin-right: 10px;
		}
		
		#requestContactName {
			font-size:14px;
			font-style: italic;
		}
		
	}



	

}